from typing import List

import xarray as xr
from matplotlib.figure import Figure

from quam_builder.architecture.superconducting.qubit import AnyTransmon


def plot_raw_data_with_fit(ds: xr.Dataset, qubits: List[AnyTransmon], fits: xr.Dataset) -> Figure:
    """Plot the raw data with fit overlays. TODO: implement."""
    fig = Figure()
    return fig
